/* Basic Styles */

html {
  background-color: #fffafa;
}

body {
  width: 85%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

/* Header Styles */

#header {
  width: 90%;
  margin: 0 auto;
  padding: 2em 0em;
}

#header img {
  display: block;
  margin: 0 auto;
  max-width: 50%;
}

#buttonContainer {
  display: block;
  margin: 0 auto;
}

#buttonContainer button {
  margin: 20px 10px;
}

/* Content Styles */

#gifsContainer {
  width: 60%;
  float: left;
}

#formContainer {
  float: right;
  width: 40%;
}

#formContainer p {
  margin-top: 10px;
}

#formContainer p input {
  display: block;
  margin: 0 auto;
}

#formContainer h2 {
  text-align: center;
}